html
    head

        title!= title
    body
        ul(style="list-style-type: none;")
            each url,index in urls
                li
                    - var i = (urls.length-index-1)
                    a(href='/repost/'+i) #!{i} &nbsp;
                    a(href=url) !{url}



