html
    head

        title!= title
    body
        ul(style="list-style-type: none;")
            each url,index in urls
                li
                        ='#' + (urls.length-index-1) + ' '
                        a(href=url) !{url}


