module.exports = {
  server : "irc.isolated.se",
  nick : "Bullshit",
  channels : ["#chan", "#otherchan"],
  pluglisten : {
    "!foodzor randomizer" : ["#chan", "priv"],
    "!ermahgerd" : ["#chan", "priv"],
    "hangmanPlay" : ["#chan"],
    "hangmanConfig" :  ["#chan"],
    "!hello listener" : ["#chan", "priv"],
    "!foodzor randomizer special" : ["#chan"],
    "Quotebot" : ["#chan"],
    "tinyrpg" : ["#chan"]
  }
};
