extends layout

block content
    ul#quotes
        each quote in quotes
            li
                a(href='/' + quote.id)
                    h2 #{quote.subject} (#{quote.points})
                div.quote
                div.quotepoints
                div.quotesubject
                    div.quotetext
                    pre #{quote.text}

